body {
    background-color: black;
    color: rgb(196, 122, 37);
     font-family: "Uncial Antiqua", system-ui;
     display:flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0;
}

button {
    background-color: black;
    color: beige;
}